<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Dashboard</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <script>
    if (!localStorage.getItem("loggedIn")) {
    window.location.href = "/login"; // 未登入 → 回登入頁
    }
    </script>

    <h1>📡 Sensor Dashboard</h1>
    <!--即時感測資料面板 -->
    <div class="card">
        <h2>即時感測資料</h2>
        <div id="realtime">
            <p><strong>溫度：</strong><span id="temp">--</span> °C</p>
            <p><strong>濕度：</strong><span id="hum">--</span> %</p>
            <p><strong>GPS 衛星：</strong><span id="sat">--</span></p>
            <p><strong>經度：</strong><span id="lng">--</span></p>
            <p><strong>緯度：</strong><span id="lat">--</span></p>
            <p><strong>按鈕狀態：</strong><span id="btn">--</span></p>
            <p><strong>時間：</strong><span id="timestamp">--</span></p>
        </div>
    </div>
    <!--感測資料記錄面板 -->
    <div class="card">
        <h2>資料紀錄(近20筆)</h2>
        <table id="dataTable">
            <thead>
                <tr>
                    <th>時間</th>
                    <th>溫度</th>
                    <th>濕度</th>
                    <th>緯度</th>
                    <th>經度</th>
                    <th>衛星</th>
                    <th>按鈕</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!--gps-->
    <div class="card">
        <h2>定位</h2>
        <div id="map"></div>
    </div>

    <!--溫濕度圖表-->
    <div class="card">
        <h2>溫濕度</h2>
        <canvas id="sensorChart"></canvas>
    </div>

    <button onclick="logout()">登出</button>
    
    <script>
    function logout() {
    localStorage.clear();  // 清除登入狀態
    window.location.href = "/login";  // 回登入頁
    }   
</script>
    <!-- 載入 JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/static/js/script.js"></script>

</body>
</html>
